body {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, sans-serif;
    background:
        #e8e8e8;

}

#header {
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    width: 1000px;
    height: 100px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;

    background:
        #780e0e;

}

    #header .logo {
        margin: 0px 0px 0px 0px;
        padding: 30px 0px 0px 10px;
        width: 500px;
        height: 50px;
        color: #fff;
        font-size: 1.8em;
        display: block;
        float: left;
        position: relative;

    }

    #header .right {
        margin: 0px 0px 0px 0px;
        padding: 10px 10px 0px 0px;
        width: 300px;
        height: 30px;
        float: right;
        position: relative;
        display: block;
        color: #fff;
        text-align: right;
        font-size: .8em;
    }

    #header .right a {
        color: #e0e0e0;
        text-decoration: none;
    }

    #header .right a:visited {
        color: #e0e0e0;
        text-decoration: none;
    }

    #header .right a:hover {
        color: #fff;
        text-decoration: none;
    }

    h1 {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.5em;
    color: #343434;
}

h2 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.3em;
    color: #343434;
}

h3 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.0em;
    color: #343434;
}

h4 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: .8em;
    color: #343434;
}



span.h3-bold {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 1.0em;
    color: #343434;
    font-weight: bold;
}

.heading {
    margin: 10px 0px 5px 0px;
    padding: 0px 10px 4px 10px;
    height: 20px;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    background: #616161;
    color: #fff;
    clear: both;
    /*font-size: .8em;*/
}


    #container {
        margin: 20px auto 0px auto;
        padding: 10px 10px 10px 10px;
        width: 980px;

        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;

        overflow: hidden;
        background: #fff;
        line-height: 1.5em;
    }

    #container .column {
        position: relative;
        float: left;
    }

    #full {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 1000px;
    }

    #full .field-container {
        margin-bottom: 10px;
        overflow: hidden;
        clear: both;
    }

    #full .field-label {
        margin: 0px 0px 0px 0px;
        padding: 8px 0px 0px 0px;
        width: 100px;
        position: relative;
        float: left;
        font-weight: bold;
    }

    #full .field-input {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 200px;
        position: relative;
        float: left;

    }

    #full .field-input input {
        background: #fff;
        border: 1px solid #cccccc;
        font-size: 1.1em;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        color: #8e8c8c;
        padding: 5px;
    }
    #leftColLarge {
        margin: 0px 0px 0px 0px;
        padding: 0px 10px 0px 0px;
        width: 729px;
        border-right: 1px solid #e8e8e8;
        font-size: .8em;
    }
        #leftColLarge p {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            color: #686767;
            font-size: .9em;
        }

    #leftColLarge .heading {
        color: #fff;
    }

    #leftColLarge .letter-col {
        margin: 0px 0px 0px 10px;
        padding: 0px 0px 0px 0px;
        width: 50px;
        position: relative;
        float: left;
    }

    #leftColLarge .letter-results {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 250px;
        border-left: 1px solid #424242;
        border-right: 1px solid #424242;
        position: relative;
        float: left;
    }

    #leftColLarge .member-profile {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 10px;
        width: 400px;
        float: left;
        position: relative;
    }


    #leftColLarge .content {
        margin: 0px 0px 5px 0px;
        padding: 0px 0px 0px 10px;
        
    }
        #leftColLarge .content .inner {
            display: block;
            height: 20px;
            clear: both;
        }

            #leftColLarge .content .inner .field {
                width: 80px;
                font-weight: bold;
                display: block;
                position: relative;
                float: left;
            }

            #leftColLarge .content .inner .data {
                padding: 0px 0px 0px 5px;
                width: 500px;
                display: block;
                position: relative;
                float: left;
                border: 1px solid #fff;
                background: none;
                border-radius: 5px;
                -moz-border-radius: 5px;
            }

            #leftColLarge .content .inner .edit {
                width: 50px;
                display: block;
                position: relative;
                float: right;
                text-align: right;
            }

            #leftColLarge .content .inner .edit a, a:visited {
                font-style: italic;
                color: #434343;
            }

            #leftColLarge .content .inner .edit a:hover {
                color: #969696;
            }

        #leftColLarge .content a {
            color: #780e0e;
            text-decoration: none;
        }

        #leftColLarge .content a:visited {
            color: #780e0e;
            text-decoration: none;
        }
        #leftColLarge .content a:hover {
            color: #bb1717;
            text-decoration: none;
        }

        #leftColLarge .content span.text {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 0px;
            font-weight: bold;
        }

        #leftColLarge .table-style table{
            border-collapse: collapse;
            font-size: .8em;
        }



        #leftColLarge .table-style td, th {
            padding: 5px;
            font-size: .8em;
        }

        #leftColLarge .table-style th {
            background: #e6e6e6;
            font-weight: bold;
            font-size: .8em;
        }

        #leftColLarge .table-style tr a {
            color: #780e0e;
            text-decoration: none;
        }

        #leftColLarge .table-style tr a:visited {
            color: #780e0e;
            text-decoration: none;
        }

        #leftColLarge .table-style tr a:hover {
            color: #bb1717;
            text-decoration: none;
        }



    #rightColSmall {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 10px;
        width: 230px;
    }

        #rightColSmall .tabbed {
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 20px;
            color: #fff;
        }

        #rightColSmall .tabbed a {
            color: #780e0e;
            font-style: normal;
            text-decoration: none;
        }

        #rightColSmall .tabbed a:visited {
            color: #780e0e;
            font-style: normal;
            text-decoration: none;
        }

        #rightColSmall .tabbed a:hover {
            color: #bb1717;
            text-decoration: none;
        }
