/* 
    Document   : mobile-style
    Created on : Oct 26, 2010, 11:31:05 PM
    Author     : seanmcgary
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

span.heading {
    color: #333;
    font-weight: bold;
}

